/* https://www.youtube.com/watch?v=F83dpbn5QXA&t=201s&ab_channel=ShivamGoswami */
:root {
    --offwhite: #F8F0E3;
}

* {
    padding: 0;
    margin: 0
}

body {
    background: palegoldenrod;
    overflow: hidden;
}

.hex-container {
    position: fixed;
    /* Position the container relative to the viewport */
    top: 0;
    /* Align the container to the top of the viewport */
    left: 0;
    /* Align the container to the left of the viewport */
    width: 100%;
    /* Take up the entire width of the viewport */
    height: 100%;
    /* Take up the entire height of the viewport */
    overflow: auto;
    /* Add scrollbars if content overflows the container */
}

.hex-grid {
    position: absolute;
}

.hex-grid .hexagon {
    width: 52px;
    height: 30px;
    background: var(--offwhite);
    /* lemon chiffon */
    position: absolute;
    border-radius: 2px;
}

.hex-grid .hexagon::before,
.hex-grid .hexagon::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--offwhite);
    border-radius: 3px;
}

.hex-grid .hexagon::before {
    transform: rotate(-60deg);
}

.hex-grid .hexagon::after {
    transform: rotate(60deg);
}