/* https://www.youtube.com/watch?v=F83dpbn5QXA&t=201s&ab_channel=ShivamGoswami */
:root {
    --babypowder: #FBFEFB
    --hexagon-background: black;
}

* {
    padding: 0;
    margin: 0
}

body {
    background: var(--babypowder);
    overflow: hidden;
}

.hex-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.hex-grid {
    position: absolute;
}

.hex-grid .hexagon {
    width: 49px;
    height: 30px;
    position: absolute;
    border-radius: 2px;
    background: var(--hexagon-background);
}

.hex-grid .hexagon::before,
.hex-grid .hexagon::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background: var(--hexagon-background);
}

.hex-grid .hexagon::before {
    transform: rotate(-60deg);
}

.hex-grid .hexagon::after {
    transform: rotate(60deg);
}